.container {
    display: flex;
    flex-direction: row;
}

.item {
    padding: 10px;
    margin: 10px;

    border-radius: 5px;
    background-color: var(--primary-color);
}

input[type="file"] {
    display: none;
}

.document_upload form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    border: 2px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);

    padding: 10px;
    margin: 10px;
}
.document_upload form button {

    padding: 10px;

    min-width: fit-content;
    width: fit-content;
}
.document_upload form button:disabled {
    border: none;
    background: none;

    cursor: default;
}

.document_input {
    white-space: normal;
    word-break: break-word;
    width: 70%;
    cursor: pointer;
}