.item {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-color: var(--secondary-color);

  min-width: 300px;
  max-width: 90%;

  padding: 10px;
  margin: 10px;
  gap: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.item:hover {
  border: 2px solid var(--secondary-color);

  cursor: pointer;
  transition: 0.3s;
}
.item :nth-child(1) {
  font-weight: 500;
}

.names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item button {
  border: none;
  background-color: var(--secondary-color);

  padding: 10px;

  min-width: fit-content;
  width: fit-content;
}
