.item {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);

    min-width: 300px;
    max-width: 90%;

    padding: 10px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.item:hover {
  border: 2px solid var(--secondary-color);
  background-color: var(--ternary-color);

  cursor: pointer;
  transition: 0.3s;
}
.item :nth-child(1) {
  font-weight: 500;
}