.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: var(--background-color);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    min-width: 300px;
    max-width: 70%;
}

.info {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.form_section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em 1em;
    width: 100%;
    box-sizing: border-box;

    padding: 10px;
    margin: 10px;

    border-radius: 5px;
    background-color: var(--primary-color);
}

.form_section div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form_section > h3:nth-child(1) {
    grid-column: span 4;
}

/* Nume, Prenume */
.form_section > div:nth-child(2) {
    grid-column: span 2;
}
.form_section > div:nth-child(3) {
    grid-column: span 2;
}

/* CNP, Serie, Număr */
.form_section > *:nth-child(4) {
    grid-column: span 2;
}
.form_section > *:nth-child(5),
.form_section > *:nth-child(6) {
    grid-column: span 1;
}

/* Dată Eliberare, Secție */
.form_section > *:nth-child(7),
.form_section > *:nth-child(8) {
  grid-column: span 2;
}

/* Oraș, Județ */
.form_section > *:nth-child(9),
.form_section > *:nth-child(10) {
  grid-column: span 2;
}

/* Stradă, Număr */
.form_section > *:nth-child(11) {
  grid-column: span 2;
}
.form_section > *:nth-child(12) {
  grid-column: span 1;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 10px;
    margin: 10px;

    border-radius: 5px;
    background-color: var(--primary-color);
}

@media (max-width: 900px) {
    .info {
      flex-direction: column;
      gap: 1rem;
    }
  
    .popup {
      max-height: 90vh;
      overflow-y: auto;
    }
  }