:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-align: center;
  
  --background-color: #505050;
  --primary-color: #6d6d6d;
  --secondary-color: #adadad;
  --ternary-color: #eeeeee;

  --text-color: #000000;
  color-scheme: light;
  color: var(--text-color);
  background-color: var(--background-color);

  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);

  
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  
  padding: 0.5rem 1rem;
  min-width: 40%;

  cursor: pointer;
}
button:hover {
  border-color: var(--secondary-color);
  background-color: var(--ternary-color);
  transition: 0.3s;
}
button:focus,
button:focus-visible {
  border-color: var(--secondary-color);
  background-color: var(--ternary-color);
  transition: 0.3s;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 5px;
}

label {
  font-weight: 500;
}

input {
  font-family:  system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;


  border-radius: 5px;
  border: 2px solid var(--primary-color);

  background-color: var(--secondary-color);
  padding: 0.4rem 0.5rem;

  width: 100%;
  box-sizing: border-box;
}
input:focus{
  border: 2px solid var(--secondary-color);
  background-color: var(--ternary-color);
  outline: none;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
